
  <mat-grid-list cols="2" rowHeight="3:3">
    
    <mat-grid-tile *ngFor="let dish of dishes" (click)="onDishClick(dish)">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{dish.name}}</mat-card-title>
          <mat-card-subtitle>{{dish.label}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{dish.image}}" alt="FOOD">
        <mat-card-content>
          <p>
            DESCRIPTION.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>


<app-dish-detail [dish]="selectedDish"></app-dish-detail>



